@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline text-blue-800 dark:text-blue-200;
  }

  h1 {
    @apply font-bold text-2xl md:text-3xl lg:text-4xl my-4 md:my-5 lg:my-6;
  }

  h2 {
    @apply font-bold text-lg md:text-xl lg:text-2xl my-4 md:my-5 lg:my-6;
  }

  th,
  td {
    @apply box-content;
  }

  svg {
    @apply inline h-5 w-5 md:h-6 md:w-6;
    vertical-align: -0.375em;
  }

  option {
    @apply text-black;
  }

  th[role="columnheader"]:not([data-sort-method="none"]) {
    @apply cursor-pointer;

    &.text-right::before,
    &:not(.text-right)::after {
      @apply border-solid opacity-0 select-none;
      margin-top: 0.5em;
      border-width: 0.5em 0.3em 0;
      border-color: theme("colors.black") transparent;
      content: "";

      .dark & {
        border-color: theme("colors.white") transparent;
      }
    }

    &.text-right:hover::before,
    &:not(.text-right):hover::after {
      @apply opacity-50;
    }

    &.text-right[aria-sort]::before,
    &:not(.text-right)[aria-sort]::after {
      @apply opacity-100;
    }

    &.text-right[aria-sort="ascending"]::before,
    &:not(.text-right)[aria-sort="ascending"]::after {
      border-width: 0 0.3em 0.5em;
    }

    &.text-right::before {
      @apply float-left mr-1;
    }

    &:not(.text-right) {
      @apply float-right ml-1;
    }
  }
}
