<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %} – Bricks</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/brick.svg" />
  </head>
  <body class="text-sm md:text-base bg-white dark:bg-black text-black dark:text-white leading-relaxed">
    <div class="bg-gray-100 dark:bg-gray-900">
      <div class="container mx-auto px-4 flex flex-row">
        <div class="flex-1 py-4 space-x-8">
          <a class="font-bold no-underline hover:underline text-black dark:text-white" href="/">
            Bricks <span aria-hidden="true">:(❄️)</span>
          </a>
        </div>
        <button id="dark-mode-toggle">
          {% include "dark-mode.svg" %}
          <span class="dark:hidden sr-only">Dark mode</span>
          <span class="hidden dark:inline sr-only">Light mode</span>
        </button>
      </div>
    </div>
    <script>
      (() => {
        const colorScheme = (() => {
          try {
            return window.localStorage.getItem("color-scheme");
          } catch (e) {
            return undefined;
          }
        })();

        const root = document.documentElement;

        if (
          colorScheme === "dark" ||
          (colorScheme !== "light" && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          root.classList.add("dark");
        }

        document.querySelector("button#dark-mode-toggle").addEventListener("click", (event) => {
          try {
            window.localStorage.setItem("color-scheme", root.classList.toggle("dark") ? "dark" : "light");
          } catch (e) {}
        });
      })();
    </script>
    <div class="container mx-auto my-4 px-4">
      <p data-rebuild class="hidden mt-4 p-4 bg-blue-100 dark:bg-blue-900 border border-blue-400 dark:border-blue-600">
        Database rebuild in progress; data is incomplete. This should only take a few minutes.
      </p>

      {% block content %}{% endblock %}
    </div>
    <script src="/tablesort.min.js"></script>
    <script src="/tablesort.number.min.js"></script>
    <script>
      document.querySelectorAll("table.sort").forEach((table) => {
        new Tablesort(table, { descending: true });
      });
    </script>
  </body>
</html>
