<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %} — Bricks</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="text-sm md:text-base bg-white dark:bg-black text-black dark:text-white leading-relaxed">
    <div class="bg-gray-100 dark:bg-gray-900">
      <div class="container mx-auto px-4 flex flex-row">
        <div class="flex-1 py-4 space-x-8">
          <a class="font-bold no-underline hover:underline" href="/">Bricks <span aria-hidden="true">:(🧱)</span></a>
        </div>
        <button id="dark-mode-toggle">
          {% include "dark-mode.svg" %}
          <span class="dark:hidden sr-only">Dark mode</span>
          <span class="hidden dark:inline sr-only">Light mode</span>
        </button>
      </div>
    </div>
    <div class="container mx-auto my-4 px-4">{% block content %}{% endblock %}</div>
    <script>
      {% include "dark-mode.js" %}
    </script>
  </body>
</html>
