{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Game debug log{% endblock %}
{% block content %}
<p class="my-4">
  <a href="https://www.blaseball.com/game/{{ id }}">Blaseball game feed</a> —
  <a href="https://reblase.sibr.dev/game/{{ id }}">Reblase game log</a> —
  <a href="https://api.sibr.dev/eventually/sachet/packets?id={{ id }}">Sachet JSON</a>
</p>

{% for entry in log %}
<details>
  <summary>{{ entry.description() }}</summary>
  <pre class="mb-2">{{ entry.info() }}</pre>
</details>
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}
