{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Processing error dashboard{% endblock %}
{% block content %}
<h1>Processing error dashboard</h1>
<p class="my-4">
  This is a list of all game feeds that Bricks failed to process, sorted by their root cause error message.
</p>

{% for (error, games) in errors %}
<h2>{{ error }}</h2>
<ul>
  {% for game in games %}
  <li><a href="/game/{{ game }}/debug">{{ game }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}
