{% import "macros.html" as macros %} {% extends "base.html" %}

<!-- prettier-ignore -->
{% macro lines(lines, heading) %}
{% if !lines.is_empty() %}
<div>
  {% if !heading.is_empty() %}
  <p class="text-base md:text-lg font-bold">{{ heading }}</p>
  <!-- prettier-ignore -->
  {% endif %}
  {% for line in lines %}
  <p>
    {% if line.abbr.is_empty() %}
    <span class="font-bold">{{ line.title }}</span>:
    <!-- prettier-ignore -->
    {% else %}
    <abbr class="font-bold" title="{{ line.title }}">{{ line.abbr }}</abbr>:
    <!-- prettier-ignore -->
    {% endif %}
    {{ line.data }}.
  </p>
  {% endfor %}
</div>
<!-- prettier-ignore -->
{% endif %}
{% endmacro %}

<!-- prettier-ignore -->
{% block title %}
{{ game.away.name.name }} {{ game.away.runs() }}, {{ game.home.name.name }} {{ game.home.runs() }}
{% endblock %}

{% block content %}
<h1 class="text-center">
  <span class="lg:hidden">
    {{ game.away.name.nickname }} {{ game.away.runs() }}, {{ game.home.name.nickname }} {{ game.home.runs() }}
  </span>
  <span class="hidden lg:inline">
    {{ game.away.name.name }} {{ game.away.runs() }}, {{ game.home.name.name }} {{ game.home.runs() }}
  </span>
</h1>
<p class="text-center font-semibold text-base md:text-lg -mt-3 md:-mt-3.5 lg:-mt-4">
  {{ game.season }}, Day {{ game.day + 1 }}
</p>

<div class="w-full max-w-full overflow-x-scroll my-4 md:my-5 lg:my-6">
  <table class="mx-auto whitespace-nowrap">
    <tr class="text-sm">
      <td></td>
      {% for (inning, _) in game.away.inning_runs %}
      <th class="w-6 px-1">{{ inning }}</th>
      {% endfor %}
      <th class="w-6 px-1"><abbr title="Runs">R</abbr></th>
      <th class="w-6 pl-1"><abbr title="Hits">H</abbr></th>
    </tr>
    {% for team in game %}
    <tr>
      <th class="text-left pr-2">
        <span class="pr-2">{{ team.name.emoji }}</span>
        <abbr title="{{ team.name.name }}">{{ team.name.shorthand }}</abbr>
      </th>
      {% for (_, runs) in team.inning_runs %}
      <td class="text-center px-1">{{ runs }}</td>
      {% endfor %}
      <!-- prettier-ignore -->
      {% if team.inning_runs.len() < game.away.inning_runs.len() %}
      <td class="text-center px-1">×</td>
      {% endif %}
      <td class="text-center font-bold px-1">{{ team.runs() }}</td>
      <td class="text-center font-bold pl-1">{{ team.hits() }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="flex flex-col lg:flex-row gap-4 lg:gap-16 justify-center my-4">
  {% for i in 0..2 %}
  <div class="lg:w-1/2 space-y-4">
    <!-- prettier-ignore -->
    {% call macros::table(batters_tables[i], "w-full leading-loose tabular-nums") %}
    {% call lines(batting_lines[i], "Batting") %}
    {% call lines(baserunning_lines[i], "Baserunning") %}
  </div>
  {% endfor %}
</div>

<div class="flex flex-col lg:flex-row gap-4 lg:gap-16 justify-center my-4">
  {% for i in 0..2 %}
  <div class="lg:w-1/2 space-y-4">
    {% call macros::table(pitchers_tables[i], "w-full leading-loose tabular-nums") %}
  </div>
  {% endfor %}
</div>

<div class="my-4">{% call lines(end_lines, "") %}</div>
{% endblock %}
