{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %}Glossary{% endblock %}
{% block max_width %}xl:max-w-screen-xl{% endblock %}
{% block content %}
<h1>Glossary</h1>

<dl class="glossary">
  <dd id="opsplus">Adjusted OPS (OPS+)</dd>
  <dt>
    <a href="#ops">On-base plus slugging</a> normalized such that the league average batter has an OPS+ of 100. The
    formula is
    <span class="whitespace-nowrap">100&times;[(<a href="#obp">OBP</a>/lgOBP)+(<a href="#slg">SLG</a>/lgSLG)-1]</span>,
    where lgOBP and lgSLG are league averages for the season. Because the formula uses the league average on-base
    percentage and slugging percentage, rather than the league average on-base plus slugging, players can have
    significantly different on-base plus slugging but a similar adjusted OPS.
  </dt>

  <dd id="ab">At Bats (AB)</dd>
  <dt>
    A player’s total hits and outs. This statistic does not include <a href="#bb">walks</a> or
    <a href="#sac">sacrifices</a>. See also <a href="#ba">batting average</a> and
    <a href="#slg">slugging percentage</a>.
  </dt>

  <dd id="ba">Batting Average</dd>
  <dt>
    <a href="#h">Hits</a> divided by <a href="#ab">at bats</a>. A measure of how often a batter reaches base due to
    their influence, as this statistic does not include <a href="#bb">walks</a> or
    <a href="#sac">sacrifice plays</a> (however, the nature of a batter having “influence” on the immaterial plane is a
    subject for debate).
  </dt>

  <dd id="babip">Batting Average on Balls In Play (BABIP)</dd>
  <dt>
    A measure of how often a batter reaches base only on plays where the defense is involved. Home runs and
    <a href="#so">strikeouts</a> are removed from the standard <a href="#ba">batting average</a> calculation.
  </dt>

  <dd id="sb">Caught Stealing (CS)</dd>
  <dt>
    A runner put out by the defense while attempting to advance to the next base without the ball being hit into play.
    See also <a href="#sb">stolen bases</a>.
  </dt>

  <dd id="gidp">Double Plays Grounded Into (GIDP)</dd>
  <dt>Number of plate appearances that end in the batter and another runner being put out in the same play.</dt>

  <dd id="fc">Fielder’s Choice (FC)</dd>
  <dt>
    A play where the defense chooses to put a runner out at a further base rather than at first base. Because runners
    that reach first on fielder’s choice are not improving the game situation for the offense, they are not awarded with
    a <a href="#h">hit</a>.
  </dt>

  <dd id="g">Games Played (G)</dd>
  <dt>
    Number of games this player appeared in playing this position. (This currently double-counts players that played for
    both teams in the same game due to Feedback.)
  </dt>

  <dd id="h">Hit (H)</dd>
  <dt>
    A single (1B), double (2B), triple (3B), or home run (HR). Runners reaching base on
    <a href="#fc">fielder’s choice</a> are not credited with a hit, as they merely replaced a runner put out on a
    further base.
  </dt>

  <dd id="obp">On-base Percentage (OBP)</dd>
  <dt>
    Roughly, times on base divided by <a href="#pa">plate appearances</a>. The formula is
    <span class="whitespace-nowrap"
      >(<a href="#h">H</a>+<a href="#bb">BB</a>)/(<a href="#ab">AB</a>+<a href="#bb">BB</a>+<a href="#sac">SAC</a
      >)</span
    >. A measure of how often a batter reaches base. Players that are walked much more often will have a significantly
    higher on-base percentage than <a href="#ba">batting average</a>.
  </dt>

  <dd id="ops">On-base Plus Slugging (OPS)</dd>
  <dt>
    <a href="#obp">On-base percentage</a> plus <a href="#slg">slugging percentage</a>. Commonly used to measure the
    overall offensive performance of a player. See also <a href="#opsplus">adjusted OPS</a>.
  </dt>

  <dd id="pa">Plate Appearance (PA)</dd>
  <dt>
    A completed turn batting. Batters complete a turn when they are put out or become a runner. If a runner is caught
    stealing and ends the inning, the batter is not credited with a plate appearance.
  </dt>

  <dd id="rbi">Run Batted In (RBI)</dd>
  <dt>Credited to a batter for a run scored due to the batter’s time at the plate (except for double plays).</dt>

  <dd id="r">Run Scored or Allowed (R)</dd>
  <dt>
    A runner who crosses home plate is credited with a run. The pitcher that allowed this runner to reach base is
    charged with a run allowed. A team wins by scoring more runs than the opposing team.
  </dt>

  <dd id="sac">Sacrifice (SAC)</dd>
  <dt>A play that results in the batter being put out at first in order to allow another runner to score.</dt>

  <dd id="slg">Slugging Percentage (SLG)</dd>
  <dt>
    <a href="#tb">Total bases</a> divided by <a href="#ab">at bats</a>. A measure of how often a batter hits extra-base
    hits (doubles, triples, and home runs).
  </dt>

  <dd id="sb">Stolen Base (SB)</dd>
  <dt>
    A runner safely advancing to the next base without the ball being hit into play. See also
    <a href="#cs">caught stealing</a>.
  </dt>

  <dd id="so">Strikeout (SO)</dd>
  <dt>
    A <a href="#pa">plate appearance</a> that ends due to the pitcher pitching (usually) three strikes and putting the
    batter out.
  </dt>

  <dd id="tb">Total Bases (TB)</dd>
  <dt>
    The number of bases a player reaches on <a href="#h">hits</a>. Singles are 1 base, doubles are 2 bases, triples are
    3 bases, and home runs are (usually) 4 bases. See also <a href="#slg">slugging percentage</a>.
  </dt>

  <dd id="bb">Walk / Base on Balls (BB)</dd>
  <dt>
    A <a href="#pa">plate appearance</a> that ends due to the pitcher pitching (usually) four balls and the batter
    advancing to first base. “Base on balls” is the formal term for the rule in baseball, but “walk” is preferred in
    Blaseball.
  </dt>
</dl>
{% endblock %}
