<!-- prettier-ignore -->
{% macro cellspacing() %}
{% if loop.first %}
pr-2
{% else %}
border-l border-gray-300 dark:border-gray-700
{% if loop.last %}
pl-2
{% else %}
px-2
{% endif %}
{% endif %}
{% endmacro %}

{% macro thead(table) %}
<thead>
  <tr class="text-xs md:text-sm">
    {% for value in table.header %}
    {% if table.not_skip(loop.index0) %}
    <th
      class="{% call cellspacing() %} {{ table.col_class[loop.index0] }}"
      data-sort-method="{{ table.sort_method[loop.index0] }}"
    >
      {% let abbr = table.abbr[loop.index0] %}
      <!-- prettier-ignore -->
      {% if abbr.is_empty() %}
      {{ value }}
      {% else %}
      <abbr title="{{ value }}">{{ abbr }}</abbr>
      {% endif %}
    </th>
    {% endif %}
    {% endfor %}
  </tr>
</thead>
<!-- prettier-ignore -->
{% endmacro %}

{% macro table_inner(table) %}
{% for row in table.rows %}
<tr class="bg-yellow-500 bg-opacity-0 hover:bg-opacity-30">
  {% for value in row.data %}
  {% if table.not_skip(loop.index0) %}
  <td class="{% call cellspacing() %} {{ table.col_class[loop.index0] }} {% if loop.first %}{{ row.class }}{% endif %}">
    <!-- prettier-ignore -->
    {% let href = row.href[loop.index0] %}
    {% if !href.is_empty() %}
    <a href="{{ href }}">{% endif %}{{ value }}{% if !href.is_empty() %}</a>
    {% endif %}
  </td>
  {% endif %}
  {% endfor %}
</tr>
{% endfor %}
<!-- prettier-ignore -->
{% endmacro %}

{% macro table(table, class) %}
<div class="w-full max-w-full overflow-x-auto">
  <table class="whitespace-nowrap {{ class }}">
    {% call thead(table) %}
    <tbody>
      {% call table_inner(table) %}
    </tbody>
  </table>
</div>
{% endmacro %}

<!-- prettier-ignore -->
{% macro totals_table(table, class, total_label) %}
<div class="w-full max-w-full overflow-x-auto">
  <table class="whitespace-nowrap {{ class }}">
    <!-- prettier-ignore -->
    {% call thead(table) %}
    <tbody>
      {% call table_inner(table) %}
      <!-- prettier-ignore -->
      {% let label_width = table.header.len() - table.totals.len() %}
      <tr class="bg-yellow-500 bg-opacity-0 hover:bg-opacity-30 font-bold" data-sort-method="none">
        {% if label_width > 0 %}
        <th colspan="{{ label_width }}" class="text-left">{{ total_label }}</th>
        {% endif %}
        <!-- prettier-ignore -->
        {% for i in 0..table.header.len() %}
        {% if i >= label_width && table.not_skip(i) %}
        <td class="{% call cellspacing() %} {{ table.col_class[loop.index0] }}">{{ table.totals[i - label_width] }}</td>
        {% endif %}
        <!-- prettier-ignore -->
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endmacro %}
