{% import "macros.html" as macros %} {% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<h1>{{ team.emoji }} {{ team.name }}</h1>

<form action="/jump" method="get">
  <select autocomplete="off" class="form-select bg-transparent md:text-lg lg:text-xl" name="path">
    {% for season in seasons %}
    <option value="{{ season.path }}" {{ season.selected }}>{{ season.display }}</option>
    {% endfor %}
  </select>
  <noscript>
    <button class="form-input bg-transparent ml-4 md:text-lg lg:text-xl" type="submit">Go</button>
  </noscript>

  <script>
    (() => {
      const form = document.currentScript.parentElement;
      window.addEventListener("pageshow", () => {
        form.elements["path"].value = window.location.pathname;
      });
      form.querySelector("select").addEventListener("change", () => {
        window.location.assign(form.elements["path"].value);
      });
    })();
  </script>
</form>

<div class="space-y-4">
  {% if !standard_batting.rows.is_empty() %}
  <h2>Standard Batting</h2>
  {% call macros::totals_table(standard_batting, "leading-loose tabular-nums", "Team Totals") %}
  <!-- prettier-ignore -->
  {% endif %}

  {% if !postseason_batting.rows.is_empty() %}
  <h2>Postseason Batting</h2>
  {% call macros::totals_table(postseason_batting, "leading-loose tabular-nums", "Team Totals") %}
  <!-- prettier-ignore -->
  {% endif %}

  {% if !standard_pitching.rows.is_empty() %}
  <h2>Standard Pitching</h2>
  {% call macros::totals_table(standard_pitching, "leading-loose tabular-nums", "Team Totals") %}
  <!-- prettier-ignore -->
  {% endif %}

  {% if !postseason_pitching.rows.is_empty() %}
  <h2>Postseason Pitching</h2>
  {% call macros::totals_table(postseason_pitching, "leading-loose tabular-nums", "Team Totals") %}
  <!-- prettier-ignore -->
  {% endif %}
</div>
{% endblock %}
